main div.blog-content-box {
    position: relative;
    padding: 0 24px 16px;
    background: #fff;
}
.more-toolbox {
    display: -webkit-flex;
    margin-bottom: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.more-toolbox .left-toolbox {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #f3f7fb;
    z-index: 3000;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.05);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.05);
}
.more-toolbox .toolbox-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 24px;
    height: 48px;
}
.more-toolbox .tool-active {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.more-toolbox .tool-item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #f3f7fb;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
}
.more-toolbox .tool-active:first-child a {
    padding-left: 0;
}
.more-toolbox .tool-item a {
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 36px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px;
}
a {
    background-color: transparent;
}
.more-toolbox .tool-active img {
    width: 22px;
    height: 22px;
}
.more-toolbox .tool-item img {
    width: 14px;
    height: 14px;
    margin-right: 4px;
}
img {
    border-style: none;
}
img {
    border: 0;
    outline: none;
}

.more-toolbox .tool-active span.name, .more-toolbox .tool-active span.count {
    font-size: 16px;
    color: #555666;
}