{% extends 'base_homesite.html' %}
{% block profile %}
    <div class="panel panel-danger">
        <div>
            <div class="avatar-box">
                <img width="48px" height="48px" src="media/{{ user.avatar }}" alt="">
                {{ user.nickname }}
            </div>
        </div>
    </div>
{% endblock %}
{% block list %}
    {% for article in article_list %}
        <div class="clearfix">
            <h3><a href="/{{ user.username }}/articles/{{ article.id }}" target="_blank">{{ article.title }}</a></h3>
            <p><a href="/{{ user.username }}/articles/{{ article.id }}" target="_blank">{{ article.desc }}</a></p>
            <div class="small pub_info pull-left">
                <p>
                    <span>发布于 &nbsp;&nbsp;{{ article.create_time }}</span>
                </p>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}

