<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>博客</title>
    <style>
        .navbar-header .navbar-brand{
            padding: 0 0;
        }
    </style>
</head>

<body>
<script src="/static/jquery-3.5.0.min.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
{%csrf_token%}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""><img width="45" height="45" alt="Brand" src="/static/image/FAAM.jpg"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">博客</a></li>
                <li><a href="#">学院</a></li>
                <li><a href="#">下载</a></li>
                <li><a href="#">新闻</a></li>
                <li><a href="#">招聘</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                {% if request.user.is_authenticated %}
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img width="28" height="28" src="media/{{ request.user.avatar }}" alt="..."><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">我的关注</a></li>
                            <li><a href="#">我的博客</a></li>
                            <li><a href="#">我的学院</a></li>
                            <li><a href="/logout/">退出</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">登录</a></li>
                    <li><a href="{% url 'register' %}">注册</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

</body>
</html>